@charset "utf-8";

#indx{
	background-color: #8ac6d1;
	text-align: left;
	color: azure;
	width: 100%;
	height: 2000px;
	padding: 20px; 
	line-height: 60px;
	border: 2px black solid;
	border-radius: 10px;
}
